# Deno cache and lock files
.deno/
denoweb/
denofmt/
denowatch*
deno.lock

env.local

# Node modules and lockfiles
node_modules/
pnpm-lock.yaml
package-lock.json

# Build outputs
lib/
dist/

# Coverage reports
coverage/
cov/

# Logs
*.log

# IDE/editor settings
.vscode/
.idea/

# Test snapshots
**/__snapshots__/

# Examples, reference and docs
_reference/
examples/node-*
examples/**/node_modules
# Keep examples/fresh-canary tracked
docs/ui/
tests_deno/
src/fga/

.npmrc
.DS_Store
yarn.lock
.sailplane/
.eslintcache